.dockFixed {
    position:absolute;
}
.dockFixed[orientation="horizontal"] {
}
.dockFixed[orientation="vertical"] {
}

.dockFloat {
    overflow:auto;
}

#panelFixedCenter {
    overflow:auto;
    border:solid 1px;
    background-color: #dddddd;
}
#panelFixedTop {
    background-color: #dddddd;
}
#panelFixedBottom {
    background-color: #dddddd;
}
#panelFixedLeft {
    background-color: #dddddd;
}
#panelFixedRight {
    background-color: #dddddd;
}

#panelFloat_0 {
    background-color: #dddddd;
}
#panelFloat_1 {
    background-color: #dddddd;
}
