.menu {
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 0px;
}
.menu ul{
    display: none;
    position: absolute;
    font-size: 16px;
    padding: 2px 0;
    text-align: left;
    list-style: none;
    border: 1px solid #979797;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0,0,0,.2);
    margin: 0;
    min-width: 150px;
    background: #F1F1F1;
    background-image: url(../../img/widget/widgetMenu/menu_line.png);
    background-repeat: repeat-y;
    background-position: 24px 0;
}
.menu ul ul{
    display: none;
}
.menu ul ul ul{
     display: none;
 }
.menu ul li{
    cursor: pointer;
    padding: 0 10px;
    white-space: nowrap;
}
.menu ul li.sub{
    background-image: url(../../img/widget/widgetMenu/menu_arrow.png);
    background-repeat: no-repeat;
    background-position: right 9px;
}
.menu ul li.active{
    border: 1px solid #AECFF7;
    border-radius: 3px;
    background: #F1F3F6;
}

