.widgetUserLoginMain {
}

.widgetUserLoginMain input {
    display: block;
    width: 300px;
    line-height: 30px;
    margin: 10px 0;
}

.widgetUserLoginUserName {
}

.widgetUserLoginUserPWD {
}

.widgetUserLoginVerify {
    position: relative;
}
