.widgetTab {
    margin: 0;
    padding: 0;
    background-color: #393939;
}
.widgetTabTitleGroup {
    margin: 0;
    padding: 0;
    background: #666666;
}
.widgetTabContentGroup {
    margin: 0;
    padding: 0;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.widgetTabTitleGroup::after {
    clear: both;
    content: "";
    display: table;
}
.widgetTabTitle {
    border-left: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: gray;
    color: #6eabc8;
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 5px;
    position: relative;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.widgetTabTitle:last-of-type {
    border-right: solid;
    border-width: 1px;
    border-color: gray;
}
.widgetTabTitle::before, .widgetTabTitle::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.widgetTabTitle::after {
    bottom: -2px;
    left: 0;
    right: 0;
}
.widgetTabTitle.isActive {
    position: relative;
    background: #393939;
    color: #6eabc8;
    z-index: 1;
}
.widgetTabTitle.isActive::after {
    background: #6eabc8;
}
.widgetTabContent {
    margin: 0;
    padding: 0;
}
