.widgetUserDialogMain {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    overflow: auto;
}

.widgetUserDialogLeft {
    overflow: auto;
}

.widgetUserDialogRight {
    background: green;
}

.widgetUserDialogRightContent {
    /*position: absolute;*/
    background: burlywood;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*overflow: auto;*/
    /*width: 70%;*/
    /*vertical-align: center;*/
    /*horiz-align: center;*/
    /*display: inline-block;*/
    /*margin: auto;*/

    /*padding: 5px 10px;*/
    /*border: 1px solid #ddd;*/
}

.widgetUserLabelMsg {
}

.widgetUserLabelUserName, .widgetUserLabelUserPWD {
    display: inline-block;
    width: 50px;
}

.widgetUserDialogMain input {
    width: 200px;
    line-height: 38px;
    text-align: center;
}

.widgetUserDialogVerify {
    width: 300px;
    position: relative;
}
