.nodeDiv {

}

.nodeSpan {

}

.nodeLabel {
    margin-right: 10px;
}

.nodeInput {
    margin-right: 10px;
    background: #666666;
    color: #aaaaaa;
}

.nodeInputDefault {
    border: 0;
}

.nodeInputButton {
    border-width: 1px;
    border-color: #aaaaaa;
}

.nodeInputCheckbox {

}

.nodeInputRadio {

}

.nodeInputFile {

}

.nodeInputImage {

}

.nodeInputPassword {

}

.nodeInputSubmit {

}

.nodeInputReset {

}

.nodeInputColor {
    border-width: 1px;
    border-color: #aaaaaa;
    border-radius: 5px;
}

.nodeSelect {

}

.nodeOption {

}
