.nodeRoot {
    background: #777777;
}
.nodeRow {
    background: #66dd99;
    width: 100%;
    float: left;
}
.nodeTitle {
    background: #66dd66;
    width: 100px;
    height: 30px;
}
.nodeInput {
    background: #66dd33;
    width: 300px;
    height: 20px;
}
