.WidgetVerifyCanvasBlock {
    position: absolute;
    left: 0;
    top: 0;
}

.WidgetVerifyRefreshIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    cursor: pointer;
    background: url("/html5/img/widget/widgetVerify/icon.png") 0 -437px;
    background-size: 34px 471px;
}

.WidgetVerifySliderContainer {
    position: relative;
    width: 300px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #45494c;
    background: #f7f9fa;
    border: 1px solid #e4e7eb;
}

.WidgetVerifySliderMask {
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    background: #D1E9FE;
}

.WidgetVerifySliderBlock {
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: background .2s linear;
}

.WidgetVerifySliderIcon {
    position: absolute;
    left: 12px;
    top: 14px;
    width: 14px;
    height: 10px;
    background: url("/html5/img/widget/widgetVerify/icon.png") 0 -26px;
    background-size: 34px 471px;
}

.WidgetVerifySliderContainer_active .WidgetVerifySliderMask {
    border: 1px solid #1991FA;
}

.WidgetVerifySliderContainer_success .WidgetVerifySliderMask {
    border: 1px solid #52CCBA;
    background-color: #D2F4EF;
}

.WidgetVerifySliderContainer_fail .WidgetVerifySliderMask {
    border: 1px solid #f57a7a;
    background-color: #fce1e1;
}

.WidgetVerifySliderBlock:hover {
    background-color: #1991FA;
}

.WidgetVerifySliderContainer_active .WidgetVerifySliderBlock {
    top: -1px;
    border: 1px solid #1991FA;
}

.WidgetVerifySliderContainer_success .WidgetVerifySliderBlock {
    top: -1px;
    border: 1px solid #52CCBA;
    background-color: #52CCBA !important;
}

.WidgetVerifySliderContainer_fail .WidgetVerifySliderBlock {
    top: -1px;
    border: 1px solid #f57a7a;
    background-color: #f57a7a !important;
}

.WidgetVerifySliderBlock:hover .WidgetVerifySliderIcon {
    background-position: 0 -13px;
}

.WidgetVerifySliderContainer_success .WidgetVerifySliderIcon {
    background-position: 0 0 !important;
}

.WidgetVerifySliderContainer_fail .WidgetVerifySliderIcon {
    background-position: 0 -83px !important;
}

.WidgetVerifySliderContainer_active .WidgetVerifySliderText, .WidgetVerifySliderContainer_success .WidgetVerifySliderText, .WidgetVerifySliderContainer_fail .WidgetVerifySliderText {
    display: none;
}
