body {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #aaaaaa;
}
div {
    margin: 0;
    padding: 0;
}
input {
    margin: 2px;
    padding: 2px;
}
dl {
    margin: 0;
    padding: 0;
}
* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
