@charset "utf-8";
/*导航栏*/
.navMenu,
.navMenu ul,
.navMenu ul li,
.navMenu ul li a {
    z-index: 100;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navMenu > ul > li {
    float: left;
}
.navMenu > ul > li > a {
    padding: 5px;
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
    color: #aaaaaa;
    /*-webkit-transition: color .2s ease;*/
    /*-moz-transition: color .2s ease;*/
    /*-ms-transition: color .2s ease;*/
    /*-o-transition: color .2s ease;*/
    /*transition: color .2s ease;*/
    border-right:1px solid #aaaaaa;
}
.navMenu ul li:hover > ul > li {
    height: 30px;
}
.navMenu > ul > li.nav-has-sub > a {
    padding-right: 5px;
}
.navMenu ul ul {
    position: absolute;
    left: -9999px;
}
.navMenu:after,
.navMenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.navMenu {
    width: auto;
    line-height: 1;
}
.navMenu > ul > li:hover > a {
    color: #666666;
    background: #cccccc;
}
.navMenu > ul > li.nav-has-sub > a::after {
    position: absolute;
    top: 35px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
.navMenu > ul > li.nav-has-sub:hover > a::after {
    border-color: #666666;
}
.navMenu > ul > li > ul {
    border-top: 1px solid #cccccc;
}
.navMenu li:hover > ul {
    left: auto;
}
.navMenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
.navMenu ul ul li {
    height: 0;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}
.navMenu ul ul li a {
    padding: 20px 20px;
    width: 140px;
    background: #666666;
    text-decoration: none;
    color: #cccccc;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    border-top: 1px solid #666666;
}
.navMenu ul ul li:hover > a,
.navMenu ul ul li a:hover {
    color: #666666;
    background: #cccccc;
    border-top: 1px solid #cccccc;
}
.navMenu ul ul li.nav-has-sub > a::after {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
.navMenu ul ul li.nav-has-sub:hover > a::after {
    border-color: #666666;
}
