@charset "utf-8";
/*导航栏*/
.navMenu,
.navMenu ul,
.navMenu ul li {
    z-index: 100;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    background: #666666;
}
.navMenu span {
    white-space: nowrap;
}
.navMenu ul ul {
    position: absolute;
    display: none;
    margin-top: 5px;
}
.navMenu ul ul ul {
    top: -5px;
    left: 100%;
}
.navMenu ul li {
    padding: 5px 10px;
    float: left;
}
.navMenu ul ul li {
    width: 100%;
}
.navMenu ul li .navHasSub:after {
    position: absolute;
    text-align: center;
    right: 10px;
    content: ">";
}
.navMenu ul li:hover {
    background: #999999;
}
.navMenu li:hover > ul {
    display: block;
}
