body {
    margin: 0px;
    padding: 0px;
}
object {
    width: 100%;
    height: 100%;
}

.panelFixed {
    position: absolute;
}
.panelFloat {
    overflow: auto;
    background-color: #66dd66;
}

#panelFixedTop {
    background-color: #66dd99;
}
#panelFixedBottom {
    background-color: #66dd99;
}
