body {
    margin: 0px;
    padding: 0px;
    /*background-color: #999999;*/
}

.dockFixed {
    position: absolute;
}

#panelFixedCenter {
}
#panelFixedTop {
    background-color: #66dd99;
}
#panelFixedBottom {
    background-color: #66dd99;
}

.dockFloat {
    overflow: auto;
    background-color: #66dd66;
}

object {
    width: 100%;
    height: 100%;
}
